USE [IdentityPM]
GO
/****** Object:  StoredProcedure [dbo].[UPSERT_USERPROFILEFROMJSON]    Script Date: 5/28/2026 9:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[UPSERT_USERPROFILEFROMJSON]
    @JSONDATA NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;

    BEGIN TRY

		DECLARE @USERNAME VARCHAR(10);
		SET @USERNAME = JSON_VALUE(@JSONDATA, '$.Username');
        
        MERGE INTO USER_PERSONALDETAILS AS TARGET
        USING (
            SELECT 
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.BirthDate') AS BIRTHDATE,
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.Gender') AS GENDER,
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.LanguageOne') AS LANGUAGEONE,
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.LanguageTwo') AS LANGUAGETWO,
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.Location') AS LOCATION,
                JSON_VALUE(@JSONDATA, '$.PersonalDetail.Status') AS [STATUS]
        ) AS SOURCE
        ON (TARGET.USERID = (SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME))
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.BIRTHDATE = SOURCE.BIRTHDATE,
                TARGET.GENDER = SOURCE.GENDER,
                TARGET.LANGUAGEONE = SOURCE.LANGUAGEONE,
                TARGET.LANGUAGETWO = SOURCE.LANGUAGETWO,
                TARGET.LOCATION = SOURCE.LOCATION,
                TARGET.[STATUS] = SOURCE.[STATUS]
                
        WHEN NOT MATCHED THEN
            INSERT (USERID, BIRTHDATE, GENDER, LANGUAGEONE, LANGUAGETWO, LOCATION, [STATUS])
            VALUES ((SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME), SOURCE.BIRTHDATE, SOURCE.GENDER, SOURCE.LANGUAGEONE, SOURCE.LANGUAGETWO, SOURCE.LOCATION, SOURCE.[STATUS]);

        MERGE INTO USER_EMPLOYMENTDETAILS AS TARGET
        USING (
            SELECT 
                USERID,
                EMPLOYERNAME,
                EMPLOYERCITY,
                ISCURRENTEMPLOYER,
                ROLE
            FROM OPENJSON(@JSONDATA, '$.EmploymentDetail')
            WITH (
                USERID INT '$.UserId',
                EMPLOYERNAME NVARCHAR(255) '$.EmployerName',
                EMPLOYERCITY NVARCHAR(100) '$.EmployerCity',
                ISCURRENTEMPLOYER BIT '$.IsCurrentEmployer',
                ROLE NVARCHAR(100) '$.Role'
            )
        ) AS SOURCE
        ON (TARGET.USERID = (SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME))
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.EMPLOYERNAME = SOURCE.EMPLOYERNAME,
                TARGET.EMPLOYERCITY = SOURCE.EMPLOYERCITY,
                TARGET.ISCURRENTEMPLOYER = SOURCE.ISCURRENTEMPLOYER,
                TARGET.ROLE = SOURCE.ROLE
                
        WHEN NOT MATCHED THEN
            INSERT (USERID, EMPLOYERNAME, EMPLOYERCITY, ISCURRENTEMPLOYER, [ROLE])
            VALUES ((SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME), SOURCE.EMPLOYERNAME, SOURCE.EMPLOYERCITY, SOURCE.ISCURRENTEMPLOYER, SOURCE.[ROLE]);

        MERGE INTO USER_LEARNDETAILS AS TARGET
        USING (
            SELECT 
                USERID,
                INSTITUTIONNAME,
                MAJOR,
                AWARD,
				STARTYEAR,
				ENDYEAR
            FROM OPENJSON(@JSONDATA, '$.LearnDetail')
            WITH (
                USERID INT '$.UserId',
                INSTITUTIONNAME NVARCHAR(255) '$.InstitutionName',
                MAJOR NVARCHAR(100) '$.Major',
                AWARD NVARCHAR(100) '$.Award',
				STARTYEAR INT '$.StartYear',
				ENDYEAR INT '$.EndYear'
            )
        ) AS SOURCE
        ON (TARGET.USERID = (SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME))
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.INSTITUTIONNAME = SOURCE.INSTITUTIONNAME,
                TARGET.MAJOR = SOURCE.MAJOR,
                TARGET.AWARD = SOURCE.AWARD,
                TARGET.STARTYEAR = SOURCE.STARTYEAR,
                TARGET.ENDYEAR = SOURCE.ENDYEAR

        WHEN NOT MATCHED THEN
            INSERT (USERID, INSTITUTIONNAME, MAJOR, AWARD, STARTYEAR, ENDYEAR)
            VALUES ((SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME), SOURCE.INSTITUTIONNAME, SOURCE.MAJOR, SOURCE.AWARD, SOURCE.STARTYEAR, SOURCE.ENDYEAR);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- ROLLBACK IF ANY ERROR OCCURS DURING THE BATCH UPSERT
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- RAISE THE ERROR TO THE CALLING APPLICATION
        THROW;
    END CATCH
END;
