USE [IdentitySD]
GO
/****** Object:  StoredProcedure [dbo].[UPSERT_USERPROFILEFROMJSON]    Script Date: 10/3/2026 8:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[UPSERT_USERPROFILEFROMJSON]
    @JSONDATA NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRANSACTION;

    BEGIN TRY

		DECLARE @USERNAME VARCHAR(10), @USERID INT;
		SET @USERNAME = JSON_VALUE(@JSONDATA, '$.username');
		SET @USERID = (SELECT TOP 1 ID FROM dbo.[User] WHERE USERNAME = @USERNAME);
		print @USERID;
        
        MERGE INTO USER_PERSONALDETAILS AS TARGET
        USING (
            SELECT 
                JSON_VALUE(@JSONDATA, '$.personalDetail.birthDate') AS BIRTHDATE,
                JSON_VALUE(@JSONDATA, '$.personalDetail.gender') AS GENDER,
                JSON_VALUE(@JSONDATA, '$.personalDetail.languageOne') AS LANGUAGEONE,
                JSON_VALUE(@JSONDATA, '$.personalDetail.languageTwo') AS LANGUAGETWO,
                JSON_VALUE(@JSONDATA, '$.personalDetail.location') AS LOCATION,
                JSON_VALUE(@JSONDATA, '$.personalDetail.status') AS [STATUS]
        ) AS SOURCE
        ON (TARGET.USERID = @USERID)
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.BIRTHDATE = SOURCE.BIRTHDATE,
                TARGET.GENDER = SOURCE.GENDER,
                TARGET.LANGUAGEONE = SOURCE.LANGUAGEONE,
                TARGET.LANGUAGETWO = SOURCE.LANGUAGETWO,
                TARGET.LOCATION = SOURCE.LOCATION,
                TARGET.[STATUS] = SOURCE.[STATUS],
				TARGET.[UPDATEDTIME] = GETDATE()
                
        WHEN NOT MATCHED THEN
            INSERT (USERID, BIRTHDATE, GENDER, LANGUAGEONE, LANGUAGETWO, LOCATION, [STATUS], CREATEDTIME)
            VALUES (@USERID, SOURCE.BIRTHDATE, SOURCE.GENDER, SOURCE.LANGUAGEONE, SOURCE.LANGUAGETWO, SOURCE.LOCATION, SOURCE.[STATUS], GETDATE());

        MERGE INTO USER_EMPLOYMENTDETAILS AS TARGET
        USING (
            SELECT 
                EMPLOYERNAME,
                EMPLOYERCITY,
                ISCURRENTEMPLOYER,
                ROLE,
				RESPONSIBILITIES,
				STARTDATE,
				ENDDATE
            FROM OPENJSON(@JSONDATA, '$.employmentDetail')
            WITH (
                EMPLOYERNAME NVARCHAR(255) '$.employerName',
                EMPLOYERCITY NVARCHAR(100) '$.employerCity',
                ISCURRENTEMPLOYER BIT '$.isCurrentEmployer',
                ROLE NVARCHAR(100) '$.role',
				RESPONSIBILITIES NVARCHAR(MAX) '$.responsibilities',
				STARTDATE DATETIME2 '$.startDate',
				ENDDATE DATETIME2 '$.endDate'
            )
        ) AS SOURCE
        ON (TARGET.USERID = @USERID
		    AND TARGET.EMPLOYERNAME = SOURCE.EMPLOYERNAME
			AND TARGET.EMPLOYERCITY = SOURCE.EMPLOYERCITY
			AND TARGET.ISCURRENTEMPLOYER = SOURCE.ISCURRENTEMPLOYER
			AND TARGET.ROLE = SOURCE.ROLE)
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.EMPLOYERNAME = SOURCE.EMPLOYERNAME,
                TARGET.EMPLOYERCITY = SOURCE.EMPLOYERCITY,
                TARGET.ISCURRENTEMPLOYER = SOURCE.ISCURRENTEMPLOYER,
                TARGET.ROLE = SOURCE.ROLE,
				TARGET.RESPONSIBILITIES = SOURCE.RESPONSIBILITIES,
				TARGET.STARTDATE = SOURCE.STARTDATE,
				TARGET.ENDDATE = SOURCE.ENDDATE,
				TARGET.[UPDATEDTIME] = GETDATE()
                
        WHEN NOT MATCHED THEN
            INSERT (USERID, EMPLOYERNAME, EMPLOYERCITY, ISCURRENTEMPLOYER, [ROLE], RESPONSIBILITIES, STARTDATE, ENDDATE, CREATEDTIME)
            VALUES (@USERID, SOURCE.EMPLOYERNAME, SOURCE.EMPLOYERCITY, SOURCE.ISCURRENTEMPLOYER, SOURCE.[ROLE], SOURCE.RESPONSIBILITIES, SOURCE.STARTDATE, SOURCE.ENDDATE, GETDATE());

        MERGE INTO USER_LEARNDETAILS AS TARGET
        USING (
            SELECT 
                INSTITUTIONNAME,
                MAJOR,
                AWARD,
				STARTYEAR,
				ENDYEAR
            FROM OPENJSON(@JSONDATA, '$.learnDetail')
            WITH (
                INSTITUTIONNAME NVARCHAR(255) '$.institutionName',
                MAJOR NVARCHAR(100) '$.major',
                AWARD NVARCHAR(100) '$.award',
				STARTYEAR INT '$.startYear',
				ENDYEAR INT '$.endYear'
            )
        ) AS SOURCE
        ON (TARGET.USERID = @USERID
			AND TARGET.INSTITUTIONNAME = SOURCE.INSTITUTIONNAME
			AND TARGET.MAJOR = SOURCE.MAJOR
			AND TARGET.AWARD = SOURCE.AWARD
			AND TARGET.STARTYEAR = SOURCE.STARTYEAR
			AND TARGET.ENDYEAR = SOURCE.ENDYEAR)
        
        WHEN MATCHED THEN
            UPDATE SET 
                TARGET.INSTITUTIONNAME = SOURCE.INSTITUTIONNAME,
                TARGET.MAJOR = SOURCE.MAJOR,
                TARGET.AWARD = SOURCE.AWARD,
                TARGET.STARTYEAR = SOURCE.STARTYEAR,
                TARGET.ENDYEAR = SOURCE.ENDYEAR,
				TARGET.[UPDATEDTIME] = GETDATE()

        WHEN NOT MATCHED THEN
            INSERT (USERID, INSTITUTIONNAME, MAJOR, AWARD, STARTYEAR, ENDYEAR, CREATEDTIME)
            VALUES (@USERID, SOURCE.INSTITUTIONNAME, SOURCE.MAJOR, SOURCE.AWARD, SOURCE.STARTYEAR, SOURCE.ENDYEAR, GETDATE());

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- ROLLBACK IF ANY ERROR OCCURS DURING THE BATCH UPSERT
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- RAISE THE ERROR TO THE CALLING APPLICATION
        THROW;
    END CATCH
END;
